<section class="app-appbar">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="app-header">
    <div class="home-button" fxFlex="50px">
      <button mat-icon-button routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>

    </div>
    <div class="navigation-buttons" fxLayout="row" fxLayoutAlign="flex-start">
      <button mat-button routerLink="/sweets" routerLinkActive="active">
        SWEATS
      </button>
      <button mat-button routerLink="/pizza" routerLinkActive="active">
        PIZZA
      </button>
      <button mat-button routerLink="/ice-cream" routerLinkActive="active">
        ICE-CREAM
      </button>
    </div>
  </div>
</section>
