.app-pizza-page {
  .data-container {
    flex-wrap: wrap;
    padding-top: 20px;
    mat-card {
      margin-bottom: 30px;
      text-align: center;
      p {
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}
