.app-delete-dialog {
  h2 {
    span {
      font-weight: 600;
    }
  }

  mat-dialog-actions {
    .cancel-button {
      color: #F44336;
    }

    .agree-button {
      color: #4CAF50;
    }
  }
}
